extends layout

block content
  .forside
    div.forsidecontainer
        .boxed-paragraph
          p Send en pakke!
          a(href='/sendPakke')
            img(src='images/sendnemt.png', alt='Image Alt Text' class="clicktosend")
        .boxed-paragraph
          p Hvor er min Pakke?
          form(action="/", method="post")
          input(type="text", name="pakkeNR", placeholder="Indtast tracking nummer" )
          input(type="submit" value="Find pakke")