doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    header 
      img.company-logo(src='images/sendnemt.png', alt='Company Logo')

      .buttonContainer
        button(onclick="rdCreateUser()") Opret Bruger
        script.
          function rdCreateUser() {
            window.location.href = '/CreateUser';
          }
        button(onclick="rdLogin()") Log Ind
        script.
          function rdLogin() {
            window.location.href = '/Login';
          }
        button(onclick="deleteCookie('token')") Log ud 
        script.
          function deleteCookie(cookieName) {
            document.cookie = `${cookieName}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
            alert(`Cookie '${cookieName}' deleted!`);
            window.location.href = '/';
          }
      nav
      ul
        li
          button(onclick="rdForside()") Forside
          script.
            function rdForside() {
              window.location.href = '/';
            }
        li
          button(onclick="rdMinside()") Min Side
          script.
            function rdMinside() {
              window.location.href = '/minside';
            }
          
        li
          button(onclick="rdSendPakke()") Send Pakke
          script.
            function rdSendPakke() {
              window.location.href = '/sendPakke';
            }
  block content
  footer 
    p Copyright © 2023 Team Jakob