doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    header 
      .buttonContainer
        button(onclick="redirect()") Opret Bruger

        script.
          function redirect() {
            window.location.href = '/CreateUser';
          }
          
        button(onclick="redirect2()") Log Ind

        script.
          function redirect2() {
            window.location.href = '/Login';
          }
      .imageContainer
        img(src='images/sendpakkebillede.png', alt='Image Alt Text')

        
      
      nav
      ul
        li
          a(href='#') Spor Pakke
        li
          a(href='#') Send Pakke
        li
          a(href='#') Mine Pakker 
        li
          a(href='#') Om

  block content

  footer 
    p Copyright © 2023 Team Jakob
