doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      .buttonContainer
        button(type='button') Opret Bruger
        button(type='button') Log Ind
      .imageContainer
        img(src='images/sendnemt.png', alt='Image Alt Text')
      
      nav
      ul
        li
          a(href='#') Spor Pakke
        li
          a(href='#') Send Pakke
        li
          a(href='#') Min side 
        li
          a(href='#') Om

  block content

  footer 
    p Copyright © 2023 Team Jakob
