extends layout

block content
  head
    link(rel="stylesheet" type="text/css" href="/style.css")
  body
    h1 Login
    br
    .container
      form(id="loginForm", action="/Login", method="post")
        label(for="email") Brugernavn:
        input(type="text", name="email", required)
        label(for="password") Password:
        input(type="password", name="password", required)
        br
        br
        input(type="submit", value="login")
      script.
        document.addEventListener('DOMContentLoaded', function() {
          document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission
            const formData = new FormData(this);

            fetch('/Login', {
              method: 'POST',
              body: formData
            })
            .then(response => {
              if (response.ok) {
                alert('Du er nu logget ind!'); // Display a popup message on success
                // Redirect to a new page or perform other actions if needed
                window.location.href = '/'; // Redirect to homepage
              } else {
                throw new Error('Network response was not ok');
              }
            })
            .catch(error => {
              console.error('Error:', error);
              alert('Log ind fejlede.Prøv igen.'); // Display a popup message on error
              // You can add more specific error handling or UI changes here
            });
          });
        });
