extends layout

block content 
  head 
    link(rel="stylesheet" type="text/css" href="/style.css")
  body
    h1 Login 
    br
    form(action="/Login" method="post")
      label(for="email") Brugernavn:
      input(type="text" name="email" required)
      label(for="password") Password:
      input(type="text" name="password" required)
      br
      br
      input(type="submit" value="login")
