extends layout

block content 
  body
  .content
    form(action="/sendPakke", method="post" id="sendpakke")
      .form-columns
        .column
          h2 Afsender
          label(for="sName") Navn
          input(type="text", id="sName", name="sName" value=user.name)
          label(for="sEmail") Email
          input(type="email", id="sEmail", name="sEmail" value=user.email)
          label(for="sAddress") Adresse
          input(type="text", id="sAddress", name="sAddress" value=user.address)
          label(for="sPhone") Telefon
          input(type="tel", id="sPhone", name="sPhone" value =user.phone)
        .column
          h2 Modtager
          label(for="rName") Navn
          input(type="text", id="rName", name="rName")
          label(for="rEmail") Email
          input(type="email", id="rEmail", name="rEmail")
          label(for="rAddress") Adresse
          input(type="text", id="rAddress", name="rAddress")
          label(for="rPhone") Telefon
          input(type="tel", id="rPhone", name="rPhone")
        .column
          h2 Pakke info
          label(for="size") Længde (cm)
          input(type="text", id="size", name="size")
          label(for="weight") Vægt (gram)
          input(type="number", id="weight", name="weight")
      button(type="submit") Send Den Pakke!
      
