extends layout 

block content
    h1= title
    p Her kan du se en oversigt over dine pakker, både sendt og modtaget.
    table
        tr
            th Pakke ID
            th Afsender's Navn
            th Afsender's Adresse 
            th Afsender's Email 
            th Afsender's Telefon 
            th Modtager's Navn
            th Modtager's Adresse
            th Modtager's Email
            th Modtager's Telefon
            th Dato for oprettelse
            th Status 
            th Sidst opdateret 
            th Størrelse 
            th Vægt
